<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selfipmr.widgetapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--这里的<meta-data>是必须要写的，名字是固定的，resource就是我们创建的上面的那个xml文件的位置。其中-->
        <receiver android:name=".WidgetAppProvider">
            <intent-filter>
                <!--这个是必须要写的一个action，用来接收appwidget更新的广播，后两个为我自己写的广播。下面我们来看看AppwidgetProvider中的代码：-->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>
        <activity android:name=".TargetActivity" />

    </application>

</manifest>